services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile

    command: sleep infinity

    privileged: true
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    volumes:
      - type: bind
        source: ../
        target: /workspace/
      - type: bind
        source: ${HOME}/workspaces
        target: /workspaces
      - type: volume
        source: go.cache.mod
        target: /go/pkg/mod/
      - type: volume
        source: go.cache.bin
        target: /home/hypnos/.cache/go-build/

  registry:
    image: ghcr.io/project-zot/zot:v2.1.12
    command: ["serve", "/_/config.json"]
    user: "1000:1000"

    volumes:
      - type: bind
        source: ./zot
        target: /_

volumes:
  go.cache.mod:
  go.cache.bin:
